.puzzle{
  width: 600px;
  height: 600px;
  position: relative;
}

.puzzle div{
  background: url("./static/bg.jpeg");
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
}
